doctype html
html(lang='en')
  head
    title Nightlife, a Free Code Camp Project
    script(src='/static/js/pre.bundle.js')
    link(rel='stylesheet' href='/static/css/style.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css' integrity='sha256-rr9hHBQ43H7HSOmmNkxzQGazS/Khx+L8ZRHteEY1tQ4=' crossorigin='anonymous')
  body
    .overlay.visibility--hide
    nav(class='navbar bg-faded')
      ul(class='nav navbar-nav ml-auto')
        if loggedIn === 'true'
          li: a(href='#') Log Out
        else
          li: a(href='#') Log In
    section
      .jumbotron.jumbotron-fluid
        .container-fluid
          h1.display-4 Nightlife
            span(class='glyphicon glyphicon-map-marker' aria-hidden='true')
          p.lead A Free Code Camp Project
          // hr.my-4
          // p More text here
          .input-group
            input(type='text' class='form-control' placeholder='Search for bars around...')
            span.input-group-btn
              button(class='btn btn-secondary' type='button') Search
          // p.lead 
            // a(class='btn btn-primary btn-lg' href='#' role='button') Learn more
