include /includes/header.pug
section
  .list-of-bars
    .row
      .col
        .card
          .card-block
            img(src='http://placehold.it/150x150' class='img-fluid' alt='bar1')
            h3.card-title Bar 1
            p.card-text Snippet of top review..
            button(class='btn btn-primary' type='button') Going!
      .col
        .card
          .card-block
            img(src='http://placehold.it/150x150' class='img-fluid' alt='bar1')
            h3.card-title Bar 1
            p.card-text Snippet of top review..
            button(class='btn btn-primary' type='button') Going! 
      .col
        .card
          .card-block
            img(src='http://placehold.it/150x150' class='img-fluid mx-auto d-block' alt='bar1')
            h3.card-title Bar 1
            p.card-text Snippet of top review..
            button(class='btn btn-primary' type='button') Going! 


  
include /includes/footer.pug
