include /includes/header.pug
.title: span Create Poll
form.form(method='post')
  label.form__label(for='name') Poll Name
  input.form__input.form__input--name(type='text' name='name' placeholder='What is your favorite book/book series?' pattern='^[a-zA-Z0-9\$@#&\*\+\-][a-zA-Z0-9\$@#&%\*\+\'\"_/, \.?!-]{0,200}$' required)
  label.form__label(for='options') Poll Options
  .form__options
    .form__options--option
      input.form__input.form__input--options(type='text' name='options' placeholder='Harry Potter' pattern='^[a-zA-Z0-9\$@#&\*\+\-][a-zA-Z0-9\$@#&%\*\+\'\"_/, \.?!-]{0,200}$' required)
      button.form__button--delete#option-1(type='button') X
    .form__options--option
      input.form__input.form__input--options(type='text' name='options' placeholder='The Chronicles of Narnia' pattern='^[a-zA-Z0-9\$@#&\*\+\-][a-zA-Z0-9\$@#&%\*\+\'\"_/, \.?!-]{0,200}$' required)
      button.form__button--delete#option-2(type='button') X
  button.form__button--create#option-create(type='button') Add Option
  input.form__submit(type='submit' formaction='/createpoll' value='Create Poll')
include /includes/footer.pug
