$primary-color: #011C40; // darkblue #add8e6; // lightblue
$secondary-color: #271F1C; // darkbrown #808080; // gray
$highlight-color: #F29D35; // lamplight #f15a29; // was orange

/********************************************************/
// helpers
.visibility--show {
  visibility: visible !important;
}

.visibility--hide {
  visibility: hidden !important;
}

.display--show {
  display: initial !important;
}

.display--hide {
  display: none !important;
}


/********************************************************/

*, :before, :after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  //  font-family: Roboto;
}

a {
    &:link {
        text-decoration: none;
        color: #999;
    }
    &:visited {
        color: #999;
    }
    &:hover {
        color: $highlight-color;
    }
    &:active {
        color: $highlight-color;
    }
}


body {
  background: $primary-color;
  // height: 100vh;
  
}

section { // by default let section take up 80% width of the body
  /*
  width: 80%;
  max-width: 960px;
  margin: 1rem auto;
  */
  /*
  // position: fixed;
  // top: 0;
  // left: 0;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  */
}

/*
button {
  &:hover {
    cursor: pointer;
  }
}
*/
/*
button {
  outline: none; // removes default button highlighting
  border: none;
  &:disabled {
    color: #999;
  }
}

input {
  padding: 0 0.5rem;
  &[type='submit'] {
    border: none;
  }
  &[type='button'] {
    outline: none;
    border: none;
  }
  &:disabled {
    color: #999;
  }
}
*/
/********************************************************/
//

/********************************************************/
// foundation overrides

p {
  line-height: 1rem;
  font-size: 0.9rem;
}

.badge {
  //min-height: 2.1em;
  padding: 0.5em;
  vertical-align: middle;
  &.secondary {
    // background-color: #024059;
    background-color: #024059; // $primary-color;
  }

}

.button {
  &.secondary {
    background-color: #999;
    &:hover {
      background-color: $highlight-color;
    }
  }
  &.success {
   background-color: $highlight-color;
   &:hover {
    background-color: #999;
   }
  }
}

.callout {
  background-color: #024059;
  //border: 1px solid $highlight-color; //  #fefefe;
  border: none;
  margin: 0;
}

.card {
  background-color: #024059;
  //border: 1px solid $highlight-color;
  border: none;
  margin: 0.5rem;
}

.column, .columns {
  padding: 0;
}

.img-thumbnail {
  margin-bottom: 0.5rem;
}

.input-group {
  margin-bottom: 0;
}


/********************************************************/
// personal classes
// overlay
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.3;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 640px;
  min-width: 320px;
  height: auto;
  z-index: 100;
  //text-align: center;
  background: #fff; // #024059;
}

.bar {
  &__head { // main box with search and title
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(80% - 2 * 0.5rem);
    max-width: calc(960px - 2 * 0.5rem);
    //padding: 0;
  }

  &__list { // section for entire bar list
    display: none;
    width: 80%;
    max-width: 960px;
    margin: 1rem auto;
  }

  &__title {
    margin-bottom: 0;
    color: $highlight-color;
  }
  &__review {
    color: #999;
  }
  &__going {
    &--text {
      margin-left: 0.25em;
      vertical-align: middle;
    }  
  }

}

.button {
  &--log {
    margin-top: 0.5rem;
  }
}

.title {
  padding: 0;
  font-family: Bevan;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: $highlight-color;

  &--one {
    color: #999;
  }
}

.subtitle {
  font-size: 0.8rem;
  color: #999; // $highlight-color; //  #D9B282;
}

.marker {
  height: 2rem;
  width: 2rem;
  vertical-align: text-bottom;
}
  
/********************************************************/

// 404 page not found
.page-not-found {
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
}

/********************************************************/
// footer
footer {
  color: #999;  
  text-align: center;
  margin: 2rem auto;
  position: fixed;
  bottom: 0;
  left: 0; right: 0;

}
/********************************************************/
